//FONTS
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;700&family=Mulish:wght@400;700&display=swap');
//Font variables
$headerfont:    'Kanit', sans-serif;
$textfont:      'Mulish', sans-serif;
//COLORS
$red:           #C00100;
$orange:        #FFA100;
$black:         #000000;
$white:         #ffffff;
$light-grey:    #f3f3f3;
$dark-grey:     #232323;
$green:         #6ea100;

//SIZES
$maxwidth:          1200px;
$maxsentencelength: 60rem;
$gaps:              1.5rem;

//Variablene og fontene over er tatt fra https://github.com/toremake/UIN_coursefiles_2023/tree/main/eksamen 

*{
    box-sizing: border-box;
}

body {
    margin: 0
}

.navbar {
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    gap: $gaps;

    h1 {
        font-family: $headerfont;
        font-size: 2rem;
        padding: 1rem;
    }

    ul {
        padding: 1rem;
        margin: 0;
        list-style: none;
        display: flex;
        gap: $gaps;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

   /*Her brukte jeg https://www.youtube.com/watch?v=SLfhMt5OUPI for hvordan jeg kan
    sette opp en navbar. Dette spriker ikke veldig fra pensum, men tenkte det var greit
    å inkludere siden jeg brukte videoen når jeg satt den opp.*/ 
}

main {
    margin: 2rem;

    h1 {
        font-family: $headerfont;
        font-size: 2rem;
    }

    button {
        background-color: $black;
        color: $white;
        padding: 0.5rem;
        border-radius: 0.3rem;
        font-size: 1rem;
    }

    h2 {
        font-family: $textfont;
        font-size: 1.5rem;
    }

    aside{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-bottom: 3rem;
        border-left: 1px solid $dark-grey;
        
        article {
            button{
                display: none;
            }
            a{
                display: none;
            }
        }
    }

    .mygamesLibrary {
        float: left;
        max-width: 70%;
        padding-bottom: 3rem;
    }

    .gameshopSection {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: $light-grey;
        padding: 0.5rem;
        border-bottom: 1px solid $dark-grey;
        margin-bottom: 1rem;
    }

    .mygamesSection {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        article {
            button {
                display: none;
            }
            a {
                display: none;
            }
        }

    }

    article {
        font-family: $textfont;
        max-width: 340px;
        width: 100%;
        margin-bottom: 1rem;
        padding: 0.5rem;
        box-shadow: 2px 2px 4px $dark-grey;
        //https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow for hvordan sette opp box-shadow

        border: 1.5px solid $white;
        border-radius: 5px;
        background-color: $white;
        text-align: center;

        img {
            width: 100%;
            max-width: 300px;
        }

        h3 {
            font-size: 1.3rem;
        }

        a {
            color: inherit;
            text-decoration: none;
            padding: 10px;
        }
    }

    #mygames {
        .gameshopSection {
            article {
                button {
                    display: none;
                }
                a{
                    display: none;
                }
            }
        }
    }

    #myfavourites {
        .gameshopSection {
            article {
                button {
                    display: none;
                }
                a{
                    display: none;
                }
            }
        }
    }

    #gameshopStore {
        .gameshopSection {
            article {
                a{
                    display: none;
                }
            }
        }
    }

    #favourites {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        float: right;
        max-width: 400px;
        
    }

    .gamePage {
        padding: 2rem;
        img {
            max-width: 600px;
            width: 100%;
            float: left;
            padding-right: $gaps;
        }
        p {
            font-family: $textfont;
            font-size: 1.3rem;
        }
        #metacritic {
            background-color: $green;
            border-color: $green;
        }

    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: $black;
    color: $white;
    font-family: $textfont;
    a {
        color: inherit;
        text-decoration: none;
    }

    //https://stackoverflow.com/questions/16679146/force-footer-on-bottom-on-pages-with-little-content for oppsett av footer
}

//https://sass-lang.com/guide for hvordan skrive sass

